<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liang.deng.dao.EluCommodityWlMapper" >
  <resultMap id="BaseResultMap" type="com.liang.deng.model.EluCommodityWl" >
    <id column="route_code" property="routeCode" jdbcType="INTEGER" />
    <result column="wl_commodity_hscode" property="wlCommodityHscode" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    route_code, wl_commodity_hscode, update_time, create_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from elu_commodity_wl
    where route_code = #{routeCode,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.liang.deng.model.EluCommodityWl" >
    insert into elu_commodity_wl (route_code, wl_commodity_hscode, update_time, 
      create_time, del_flag)
    values (#{routeCode,jdbcType=INTEGER}, #{wlCommodityHscode,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.liang.deng.model.EluCommodityWl" >
    insert into elu_commodity_wl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="routeCode != null" >
        route_code,
      </if>
      <if test="wlCommodityHscode != null" >
        wl_commodity_hscode,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="routeCode != null" >
        #{routeCode,jdbcType=INTEGER},
      </if>
      <if test="wlCommodityHscode != null" >
        #{wlCommodityHscode,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>