<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liang.deng.dao.EluRoleRightInfoMapper" >
  <resultMap id="BaseResultMap" type="com.liang.deng.model.EluRoleRightInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_code" property="roleCode" jdbcType="INTEGER" />
    <result column="right_code" property="rightCode" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_code, right_code, update_time, create_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from elu_role_right_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.liang.deng.model.EluRoleRightInfo" >
    insert into elu_role_right_info (id, role_code, right_code, 
      update_time, create_time, del_flag
      )
    values (#{id,jdbcType=INTEGER}, #{roleCode,jdbcType=INTEGER}, #{rightCode,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liang.deng.model.EluRoleRightInfo" >
    insert into elu_role_right_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="rightCode != null" >
        right_code,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=INTEGER},
      </if>
      <if test="rightCode != null" >
        #{rightCode,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>