<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liang.deng.dao.EluUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.liang.deng.model.EluUserInfo" >
    <id column="user_code" property="userCode" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_email_number" property="userEmailNumber" jdbcType="INTEGER" />
    <result column="user_phone_number" property="userPhoneNumber" jdbcType="INTEGER" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_company" property="userCompany" jdbcType="VARCHAR" />
    <result column="user_account_type" property="userAccountType" jdbcType="BIT" />
    <result column="user_account_balance" property="userAccountBalance" jdbcType="DECIMAL" />
    <result column="user_account_deposit" property="userAccountDeposit" jdbcType="DECIMAL" />
    <result column="user_country" property="userCountry" jdbcType="VARCHAR" />
    <result column="user_band_alipay" property="userBandAlipay" jdbcType="VARCHAR" />
    <result column="user_band_wechat" property="userBandWechat" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="BIT" />
    <result column="login_count" property="loginCount" jdbcType="INTEGER" />
    <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_code, user_name, user_email_number, user_phone_number, user_password, user_company, 
    user_account_type, user_account_balance, user_account_deposit, user_country, user_band_alipay, 
    user_band_wechat, is_active, login_count, last_login_date, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from elu_user_info
    where user_code = #{userCode,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.liang.deng.model.EluUserInfo" >
    insert into elu_user_info (user_code, user_name, user_email_number, 
      user_phone_number, user_password, user_company, 
      user_account_type, user_account_balance, user_account_deposit, 
      user_country, user_band_alipay, user_band_wechat, 
      is_active, login_count, last_login_date, 
      create_date)
    values (#{userCode,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userEmailNumber,jdbcType=INTEGER}, 
      #{userPhoneNumber,jdbcType=INTEGER}, #{userPassword,jdbcType=VARCHAR}, #{userCompany,jdbcType=VARCHAR}, 
      #{userAccountType,jdbcType=BIT}, #{userAccountBalance,jdbcType=DECIMAL}, #{userAccountDeposit,jdbcType=DECIMAL}, 
      #{userCountry,jdbcType=VARCHAR}, #{userBandAlipay,jdbcType=VARCHAR}, #{userBandWechat,jdbcType=VARCHAR}, 
      #{isActive,jdbcType=BIT}, #{loginCount,jdbcType=INTEGER}, #{lastLoginDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.liang.deng.model.EluUserInfo" >
    insert into elu_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userEmailNumber != null" >
        user_email_number,
      </if>
      <if test="userPhoneNumber != null" >
        user_phone_number,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userCompany != null" >
        user_company,
      </if>
      <if test="userAccountType != null" >
        user_account_type,
      </if>
      <if test="userAccountBalance != null" >
        user_account_balance,
      </if>
      <if test="userAccountDeposit != null" >
        user_account_deposit,
      </if>
      <if test="userCountry != null" >
        user_country,
      </if>
      <if test="userBandAlipay != null" >
        user_band_alipay,
      </if>
      <if test="userBandWechat != null" >
        user_band_wechat,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="loginCount != null" >
        login_count,
      </if>
      <if test="lastLoginDate != null" >
        last_login_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userCode != null" >
        #{userCode,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userEmailNumber != null" >
        #{userEmailNumber,jdbcType=INTEGER},
      </if>
      <if test="userPhoneNumber != null" >
        #{userPhoneNumber,jdbcType=INTEGER},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userCompany != null" >
        #{userCompany,jdbcType=VARCHAR},
      </if>
      <if test="userAccountType != null" >
        #{userAccountType,jdbcType=BIT},
      </if>
      <if test="userAccountBalance != null" >
        #{userAccountBalance,jdbcType=DECIMAL},
      </if>
      <if test="userAccountDeposit != null" >
        #{userAccountDeposit,jdbcType=DECIMAL},
      </if>
      <if test="userCountry != null" >
        #{userCountry,jdbcType=VARCHAR},
      </if>
      <if test="userBandAlipay != null" >
        #{userBandAlipay,jdbcType=VARCHAR},
      </if>
      <if test="userBandWechat != null" >
        #{userBandWechat,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=BIT},
      </if>
      <if test="loginCount != null" >
        #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="lastLoginDate != null" >
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>